In [1]:
from flightsql import FlightSQLClient

# Read only token for demo purposes
token = ""
 
client = FlightSQLClient(host='eu-central-1-1.aws.cloud2.influxdata.com',
                        token=token,
                        metadata={'bucket-name': 'factory'},
                        features={})

In [2]:
# Execute a query against InfluxDB's Flight SQL endpoint                        
query = client.execute("SELECT * FROM iox.machine_data WHERE time > (NOW() - INTERVAL '2 HOUR')")
 
# Create reader to consume result
reader = client.do_get(query.endpoints[0].ticket)
 
# Read all data into a pyarrow.Tablef
Table = reader.read_all()
print(Table)

pyarrow.Table
host: string
load: double
machineID: string
power: double
provider: string
temperature: double
time: timestamp[ns] not null
topic: string
vibration: double
----
host: [["79f08eb45f15","79f08eb45f15","79f08eb45f15","79f08eb45f15","79f08eb45f15",...,"79f08eb45f15","79f08eb45f15","79f08eb45f15","79f08eb45f15","79f08eb45f15"]]
load: [[50,50,50,50,50,...,120,120,120,120,120]]
machineID: [["machine1","machine1","machine1","machine1","machine1",...,"machine3","machine3","machine3","machine3","machine3"]]
power: [[208,202,211,203,201,...,317,320,305,301,311]]
provider: [["Reynolds, Reese and Rowe","Reynolds, Reese and Rowe","Reynolds, Reese and Rowe","Reynolds, Reese and Rowe","Reynolds, Reese and Rowe",...,"Ortega, Ramirez and Crane","Ortega, Ramirez and Crane","Ortega, Ramirez and Crane","Ortega, Ramirez and Crane","Ortega, Ramirez and Crane"]]
temperature: [[36,36,39,36,40,...,84,80,88,90,83]]
time: [[2023-02-22 10:00:31.441444453,2023-02-22 10:00:32.441887246,2023-02-22 10:00:33.443241851,2023-02-22 10:00:34.444249711,2023-02-22 10:00:35.444323197,...,2023-02-22 10:10:10.033485997,2023-02-22 10:10:11.031039879,2023-02-22 10:10:12.031608820,2023-02-22 10:10:13.032867865,2023-02-22 10:10:14.033655330]]
topic: [["machine/machine1","machine/machine1","machine/machine1","machine/machine1","machine/machine1",...,"machine/machine3","machine/machine3","machine/machine3","machine/machine3","machine/machine3"]]
vibration: [[89,84,86,90,85,...,493,347,406,393,325]]

In [5]:
# Convert to Pandas DataFrame
df = Table.to_pandas()
df = df.sort_values(by="time")
display(df)

,host,load,machineID,power,provider,temperature,time,topic,vibration
583,79f08eb45f15,50.0,machine2,216.0,Johnson-Graham,36.0,2023-02-22 10:00:31.440423985,machine/machine2,89.0
1166,79f08eb45f15,50.0,machine3,210.0,"Ortega, Ramirez and Crane",39.0,2023-02-22 10:00:31.441385587,machine/machine3,90.0
0,79f08eb45f15,50.0,machine1,208.0,"Reynolds, Reese and Rowe",36.0,2023-02-22 10:00:31.441444453,machine/machine1,89.0
584,79f08eb45f15,50.0,machine2,207.0,Johnson-Graham,40.0,2023-02-22 10:00:32.441090122,machine/machine2,86.0
1,79f08eb45f15,50.0,machine1,202.0,"Reynolds, Reese and Rowe",36.0,2023-02-22 10:00:32.441887246,machine/machine1,84.0
...,...,...,...,...,...,...,...,...,...
1164,79f08eb45f15,24.0,machine2,193.0,Johnson-Graham,33.0,2023-02-22 10:10:13.032635190,machine/machine2,65.0
1747,79f08eb45f15,120.0,machine3,301.0,"Ortega, Ramirez and Crane",90.0,2023-02-22 10:10:13.032867865,machine/machine3,393.0
582,79f08eb45f15,37.0,machine1,182.0,"Reynolds, Reese and Rowe",33.0,2023-02-22 10:10:13.964927842,machine/machine1,50.0
1165,79f08eb45f15,24.0,machine2,186.0,Johnson-Graham,34.0,2023-02-22 10:10:14.033619866,machine/machine2,54.0
1748,79f08eb45f15,120.0,machine3,311.0,"Ortega, Ramirez and Crane",83.0,2023-02-22 10:10:14.033655330,machine/machine3,325.0