In [3]:
import flightsql.sqlalchemy
from sqlalchemy.engine import create_engine
import pandas as pd
from IPython.display import display, HTML

token = "6mFPNdcEwrjQD9utxkkMS6BfmhJoMIYsHkI317EcGSCMZaTalYADf0zm6u4VqrBv5YiGvvOf5Qa8sYTVrDigeA=="
host = "eu-central-1-1.aws.cloud2.influxdata.com"
bucket = "factory"

conn = create_engine(f"datafusion+flightsql://{host}:443?bucket-name={bucket}&token={token}")

In [6]:
table = pd.read_sql("SELECT * FROM iox.machine_data WHERE time > (NOW() - INTERVAL '1 DAY')", conn, dtype_backend="pyarrow")
display(table)

,host,load,machineID,power,provider,temperature,time,topic,vibration
0,25ae9dbe0f1e,4.0,machine1,182.0,"Roberts, Wright and Monroe",30.0,2023-03-24 11:31:30.779934200,machine/machine1,57.0
1,25ae9dbe0f1e,4.0,machine1,189.0,"Roberts, Wright and Monroe",31.0,2023-03-24 11:31:31.781048488,machine/machine1,55.0
2,25ae9dbe0f1e,4.0,machine1,184.0,"Roberts, Wright and Monroe",29.0,2023-03-24 11:31:32.782262387,machine/machine1,55.0
3,25ae9dbe0f1e,4.0,machine1,181.0,"Roberts, Wright and Monroe",29.0,2023-03-24 11:31:33.783450829,machine/machine1,59.0
4,25ae9dbe0f1e,4.0,machine1,199.0,"Roberts, Wright and Monroe",34.0,2023-03-24 11:31:34.784959199,machine/machine1,55.0
...,...,...,...,...,...,...,...,...,...
13839,25ae9dbe0f1e,61.0,machine3,209.0,Gonzalez LLC,40.0,2023-03-24 13:34:26.565038062,machine/machine3,88.0
13840,25ae9dbe0f1e,61.0,machine3,205.0,Gonzalez LLC,36.0,2023-03-24 13:34:27.566001840,machine/machine3,82.0
13841,25ae9dbe0f1e,61.0,machine3,218.0,Gonzalez LLC,35.0,2023-03-24 13:34:28.567345629,machine/machine3,88.0
13842,25ae9dbe0f1e,61.0,machine3,218.0,Gonzalez LLC,36.0,2023-03-24 13:34:29.568278284,machine/machine3,88.0
13843,25ae9dbe0f1e,61.0,machine3,216.0,Gonzalez LLC,36.0,2023-03-24 13:34:30.569068722,machine/machine3,80.0

In [1]:
from flightsql import FlightSQLClient
import pandas as pd
import pyarrow.dataset as ds
from IPython.display import display, HTML
# Read only token for demo purposes
token = "6mFPNdcEwrjQD9utxkkMS6BfmhJoMIYsHkI317EcGSCMZaTalYADf0zm6u4VqrBv5YiGvvOf5Qa8sYTVrDigeA=="
 
client = FlightSQLClient(host='eu-central-1-1.aws.cloud2.influxdata.com',
                        token=token,
                        metadata={'bucket-name': 'factory'},
                        features={'metadata-reflection': 'true'})

In [2]:
# Execute a query against InfluxDB's Flight SQL endpoint                         
#query = client.execute("SELECT * FROM iox.mqtt_consumer WHERE time > (NOW() - INTERVAL '1 DAY') ")

query = client.execute("SELECT * FROM iox.machine_data WHERE time > (NOW() - INTERVAL '1 DAY')")

# Create reader to consume result
reader = client.do_get(query.endpoints[0].ticket)

# Read all data into a pyarrow.Table
Table = reader.read_all()
p = Table.to_pandas()
display(p)

,host,load,machineID,power,provider,temperature,time,topic,vibration
0,25ae9dbe0f1e,50.0,machine1,214.0,"Roberts, Wright and Monroe",35.0,2023-03-24 10:37:42.295302018,machine/machine1,86.0
1,25ae9dbe0f1e,50.0,machine1,216.0,"Roberts, Wright and Monroe",39.0,2023-03-24 10:37:43.295663266,machine/machine1,84.0
2,25ae9dbe0f1e,50.0,machine1,209.0,"Roberts, Wright and Monroe",37.0,2023-03-24 10:37:44.297353999,machine/machine1,82.0
3,25ae9dbe0f1e,50.0,machine1,220.0,"Roberts, Wright and Monroe",35.0,2023-03-24 10:37:45.298160052,machine/machine1,90.0
4,25ae9dbe0f1e,50.0,machine1,204.0,"Roberts, Wright and Monroe",36.0,2023-03-24 10:37:46.299374921,machine/machine1,80.0
...,...,...,...,...,...,...,...,...,...
13426,25ae9dbe0f1e,120.0,machine3,308.0,Gonzalez LLC,85.0,2023-03-24 13:32:08.419240825,machine/machine3,393.0
13427,25ae9dbe0f1e,120.0,machine3,308.0,Gonzalez LLC,90.0,2023-03-24 13:32:09.420163176,machine/machine3,375.0
13428,25ae9dbe0f1e,120.0,machine3,310.0,Gonzalez LLC,87.0,2023-03-24 13:32:10.421703602,machine/machine3,435.0
13429,25ae9dbe0f1e,120.0,machine3,300.0,Gonzalez LLC,87.0,2023-03-24 13:32:11.422685137,machine/machine3,313.0
13430,25ae9dbe0f1e,120.0,machine3,320.0,Gonzalez LLC,90.0,2023-03-24 13:32:12.424188502,machine/machine3,302.0